.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.7;
    z-index: -1;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--gray1);
}

.loginContainer {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: var(--blue2);
    border-radius: 10px;
    overflow: hidden;
}

.imgLoginDiv {
    width: 40%;
    overflow: hidden;
    position: relative;
}

.imgLoginDiv .overlayImgDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--blue2);
    opacity: 0.3;
}

.imgLoginDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.form {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    flex: 1;
    padding: 1.5rem;
}

.form h1 {
    border-bottom: 1px solid var(--gray3);
    padding-bottom: 0.5rem;
    font-size: 1.75rem;
    letter-spacing: 1px;
}

.inputsContainer {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.inputDiv {
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
}

.inputDiv input {
    width: 100%;
    border-radius: 5px;
    padding: 0.5rem;
    border: 0;
}

.buttons {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    margin-top: 1rem;
}

.signIn {
    padding: 0.5rem;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--blue1);
    color: var(--blue1);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
}
.signIn:hover {
    background-color: var(--blue1);
    color: var(--blue2);
}

.signUp {
    border: 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 1px;
}

.signUp a {
    color: var(--gray3);
    text-decoration: none;
    transition: all 0.3s;
}
.signUp a:hover {
    color: var(--gray2);
}

.wrongLogin {
    color: var(--orange);
    font-size: 0.875rem;
    text-align: center;
    margin-top: 1rem;
    transition: all 0.3s;
}